<ion-view view-title="FM 106.2">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="./img/fm106.bmp">
        <h2>Fm 106.2</h2>
        <p>Hum Fm</p>
      </div>

      <div class="item item-image">
        <img src="./img/fm106.bmp">
      </div>

      <button class="item item-icon-left assertive" ng-click="playWebAudioLoop()" ng-show="paus">
        <i class="icon ion-music-note"></i>
        Start listening
      </button>
      <button class="item item-icon-left assertive" ng-click="pause()" ng-show="pla">
        <i class="icon ion-android-hand"></i>
        Stop
      </button>

    </div>
  </ion-content>
</ion-view>
