<ion-view view-title="Ionic radio">
  <ion-content>
    <div class="list">
      <a href="#/fm106" class="item item-avatar assertive">
        <img src="./img/fm106.bmp">
      FM 106.2 (Karachi)
      </a>
      <a href="#/fm100" class="item item-avatar assertive">
        <img src="./img/fm100.jpg">
        FM 100(Karachi)
      </a>
      <a href="#/fm105" class="item item-avatar assertive">
        <img src="./img/fm105.jpg">
        Hot FM 105 (Karachi)
      </a>
      <a href="#/fm103" class="item item-avatar assertive">
        <img src="./img/mastfm103.jpg">
        FM 103 (Karachi)
      </a><a href="#fm107" class="item item-avatar assertive">
      <img src="./img/fm107.jpg">
      Apna Karachi FM 107(Karachi)
        </a>
          <a href="#/dmasti" class="item item-avatar assertive">
            <img src="./img/dmasti.jpg">
            Dmasti Radio(Internet)
      </a>
    </div>
  </ion-content>
</ion-view>


