<ion-view view-title="Ionic Tv">

  <ion-content>

    <div class="list">
      <a href="#/food" class="item item-icon-left assertive">
        <i class="icon ion-fork"></i>
        Food Channels
      </a>
      <a href="#/indian" class="item item-icon-left assertive">
        <i class="icon ion-alert-circled"></i>
        Indian Channels
      </a>
      <a href="#/news" class="item item-icon-left assertive">
        <i class="icon ion-ios-world"></i> News Channels
      </a>
      <a href="#/sports" class="item item-icon-left assertive">
        <i class="icon ion-ios-football"></i> Sports Channels
      </a>
      <a href="#/movies" class="item item-icon-left assertive">
        <i class="icon ion-film-marker"></i>  Movies Channels
      </a>
      <a href="#/english" class="item item-icon-left assertive">
        <i class="icon ion-happy"></i>  English Channels
      </a>
      <a href="#/kids" class="item item-icon-left assertive">
        <i class="icon ion-ios-body"></i>  Kids Channels
      </a>
      <a href="#/religion" class="item item-icon-left assertive">
        <i class="icon ion-ios-book"></i> Religion Channels
      </a>
      <a href="#/music" class="item item-icon-left assertive">
        <i class="icon ion-headphone"></i>Music Channels
        </a>
      <a href="#/information" class="item item-icon-left assertive">
        <i class="icon ion-ios-help-outline"></i>Information
      </a>
      <div ng-show="adult.checked">
      <a href="#/adult" class="item item-icon-left assertive">
        <i class="icon ion-android-happy"></i>  Adult
      </a>
      </div>
    </div>
  </ion-content>
</ion-view>
