<!--
<object type="application/x-shockwave-flash" id="player" data="http://www.stream2watch.co/player/GrindPlayer.swf" width="100%" height="100%" style="visibility: visible;"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><param name="wmode" value="opaque"><param name="flashvars" value="autoPlay=true&amp;src=http%3A//wpc.c1a9.edgecastcdn.net/hls-live/20C1A9/cnn/ls_satlink/b_828.m3u8%23.m3u8&amp;streamType=live&amp;scaleMode=letterbox&amp;plugin_hls=http://www.stream2watch.co/player/flashlsOSMF.swf&amp;hls_debug=false&amp;hls_debug2=false&amp;hls_minbufferlength=-1&amp;hls_lowbufferlength=2&amp;hls_maxbufferlength=60&amp;hls_startfromlowestlevel=false&amp;hls_seekfromlowestlevel=false&amp;hls_live_flushurlcache=false&amp;hls_seekmode=ACCURATE&amp;hls_capleveltostage=false&amp;hls_maxlevelcappingmode=downscale"></object>
-->
<ion-view view-title="Ionic Tv">
  <ion-content>
    <ion-list>
      <div class="card">
        <ion-item>
          <div class="video-container">
            <iframe src="http://www.stream2watch.co/player/GrindPlayer.swf" frameborder="0" width="560" height="315"></iframe>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
